@font-face {
  font-family: "PoppinsRegular";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PoppinsBold";
  src: url("./assets/fonts/Poppins-Bold.ttf");
}

#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

.App {
  width: 100vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  width: calc(100vw - 400px);
  height: 80px;
  display: flex;
  flex-direction: row;
  padding: 0 200px;
  justify-content: space-between;
  align-items: center;
}

.header span {
  font-size: 20px;
  font-family: "PoppinsBold";
}

.main {
  width: calc(100vw - 400px);
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 200px;
}

.main__title {
  max-width: 800px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__title h1 {
  font-size: 40px;
  font-weight: 600;
  font-family: "PoppinsBold";
}

.main__title span {
  color: var(--color-primary);
}

.main__title p {
  font-size: 1.3rem;
}

.main__upload {
  width: 100%;
  min-height: 100px;
  margin-top: 20px;
}

.main__uploader {
  width: calc(100% - 20px);
  height: 60px;
  border-radius: 10px;
  background-color: var(--color-text);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.main__chrono {
  width: 100px;
  padding: 10px 20px 5px 20px;
  background-color: var(--color-text);
  color: var(--color-text-dark);
  font-family: "PoppinsRegular";
  font-size: 1rem;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
}

.upload__btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  background-color: rgb(207, 207, 207);
  color: rgb(82, 82, 82);
  font-family: "PoppinsRegular";
  transition: all 0.2s;
}

.upload__btn.active {
  background-color: var(--color-primary);
  color: #fff;
  font-family: "PoppinsBold";
}

.upload__btn.active svg {
  fill: var(--color-text);
}

.upload__btn svg {
  fill: rgb(82, 82, 82);
}

.main__results {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
}

.main__results span {
  margin-left: 20px;
}

.main__results svg path {
  fill: var(--color-text);
}

.main__uploader__title {
  position: relative;
  font-family: "PoppinsRegular";
  color: var(--color-text-dark);
  background-color: var(--color-text);
  border: 1px solid #888;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  transition: all 0.3s;
}

.main__uploader__title:hover {
  background-color: #eee;
}

.main__uploader__title > svg path {
  fill: var(--color-primary);
}

.badge {
  position: absolute;
  top: -5px;
  right: -10px;
  padding: 2px 7px;
  border-radius: 3px;
  background-color: rgb(238, 108, 108);
  color: var(--color-text);
  font-size: 10px;
}

.main__files {
  width: calc(100%);
  max-height: 400px;
  height: auto;
  margin: 10px 0 20px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.tips {
  color: var(--color-text-dark);
}

@media screen and (max-width: 1100px) {
  .header, 
  .main {
    padding: 0 100px;
    width: calc(100vw - 200px);
  }
}

@media screen and (max-width: 768px) {
  .header, 
  .main {
    padding: 0 50px;
    width: calc(100vw - 100px);
  }

  .upload__btn,
  .main__uploader__title {
    width: auto;
    padding: 10px;
  }

  .tips {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .tips {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header,
  .main {
    padding: 0 20px;
    width: calc(100vw - 40px);
  }

  .main__uploader {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }

  .main__uploader button,
  .main__uploader a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .main__uploader button svg {
    margin: 0 10px;
  }

  .main__uploader button span {
    margin: 0;
  }

  .main__uploader button:not(:last-child),
  .main__uploader a {
    margin-bottom: 10px;
  }

  .main__title h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: "PoppinsBold";
  }

  .main__title p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .header, 
  .main {
    padding: 0 20px;
    width: calc(100vw - 40px);
  }
}